<div class="page-section" id="area">
  <div class="container">
    <h1><%= @area['name'] %></h1>

    <% if @memberships %>
      <% @memberships.group_by { |m| m['legislative_period'] }.sort_by { |t, _| t['start_date'] }.reverse.each do |t, ms| %>
        <a class="avatar-unit" href="<%= term_url(t) %>">
          <span class="avatar"><i class="fa fa-university"></i></span>
          <h2><%= t['name'] %></h2>
        </a>

        <div class="container">
          <% ms.group_by { |m| m['on_behalf_of'] }.each do |p, ms| %>

            <a class="avatar-unit" href="<%= party_url(p) %>">
              <span class="avatar"><i class="fa fa-users"></i></span>
              <h2><%= p['name'] %></h2>
            </a>

            <div class="container">
              <ul class="grid-list">

                <% ms.each do |m| %>
                  <li>
                    <a class="avatar-unit" href="<%= person_url(m['person']) %>">
                      <span class="avatar"><i class="fa fa-user"></i></span>
                      <h3><%= m['person']['name'] %></h3>
                      <% if m['start_date'].to_s != t['start_date'].to_s or m['end_date'].to_s != t['end_date'].to_s %>
                        <p><%= m['start_date'] %>–<%= m['end_date'] %></p>
                      <% end %>
                    </a>
                  </li>
                <% end %>

              </ul>
            </div>
          <% end %>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
