<div class="page-section" id="countries">
    <div class="container">

        <div class="text-center">
            <h2>Data from <%= @countries.length %> countries</h2>
            <p>But we’re still missing <%= @world.length - @countries.length %>.
              <a href="/needed.html">Can you help?</a>
        </div>

        <div id="vmap" style="width: 100%; height: 400px; margin: 3em auto; max-width: 840px;"></div>

        <% countries_sorted = @countries.sort_by { |c| c[:name] } %>
        <% current_letter = countries_sorted[0][:name].upcase[0,1] %>

        <h3 class="country-list__section-header"><%= current_letter %></h3>

        <ul class="grid-list grid-list--vertically-center">
          <% countries_sorted.each do |c| %>

          <% if c[:name].upcase[0,1] != current_letter %>
          <% current_letter = c[:name].upcase[0,1] %>
        </ul>

        <h3 class="country-list__section-header"><%= current_letter %></h3>

        <ul class="grid-list grid-list--vertically-center">
          <% end %>

            <li>
                <a class="avatar-unit" href="/<%= c[:url] %>/">
                    <span class="avatar"><i class="fa fa-users"></i></span>
                    <h3><%= c[:name] %></h3>
                </a>
            </li>
          <% end %>
        </ul>
    </div>
</div>

<div class="text-center">
    <a href="<%= @cjson %>"><i class="fa fa-download"></i> Download <span class="large-screen-only">country metadata</span> as JSON</a>
</div>

<script type="text/javascript">
  var ep_countries = {};
  <% @countries.each do |country| %>
    ep_countries['<%= country[:code].upcase %>'] = '<%= country[:slug].downcase %>';
  <% end -%>
    ep_countries['_0'] = 'kosovo';

  var draw_map = function() {
    var colors = {}
    $.each(Object.keys(ep_countries), function(i, v) { colors[v] = '#01BFA9' });

    $('#vmap').vectorMap({
      map: 'world_mill_en',
      normalizeFunction: 'polynomial',
      backgroundColor: 'white',
      regionStyle: { initial: { fill: '#F37D7D' }},
      hoverColor: false,
      series: {
        regions: [{
          values: colors,
          attribute: 'fill'
        }]
      },
      onRegionClick: function(event, code, region) {
        event.preventDefault();
        if(ep_link = ep_countries[code]) {
          var url = '/' + ep_link + "/";
          window.location = url;
        } else {
          window.location = "/needed.html";
        }
        return false;
      },
    });
  };
  jQuery(document).ready(draw_map());
</script>

