<div class="page-section" id="home">
  
    <div class="container">
        <div id="vmap" style="width: 100%; height: 400px; margin-bottom: 2em"></div>

        <ul class="grid-list">
          <% @countries.sort_by { |c| c[:name] }.each do |c| %>
            <li>
                <a class="avatar-unit" href="/<%= c[:url] %>/">
                    <span class="avatar"><i class="fa fa-users"></i></span>
                    <h3><%= c[:name] %></h3>
                </a>
            </li>
          <% end %>
        </ul>
        <a class="button button--download" style="float:right" href="<%= @cjson %>">
          <i class="fa fa-download"></i>
          <span class="large-screen-only">Download as</span> JSON
        </a>
        
    </div>
</div>

<script type="text/javascript">
  var ep_countries = {};
  <% @countries.each do |country| %>
    ep_countries['<%= country[:code] %>'] = '<%= country[:slug].downcase %>';
  <% end -%>
    ep_countries['_0'] = 'kosovo';

  var draw_map = function() {
    var colors = {}
    $.each(Object.keys(ep_countries), function(i, v) { colors[v] = '#01BFA9' });

    $('#vmap').vectorMap({
      map: 'world_mill_en',
      normalizeFunction: 'polynomial',
      backgroundColor: 'white',
      regionStyle: { initial: { fill: '#f4f3f0' }},
      hoverColor: false,
      series: {
        regions: [{
          values: colors,
          attribute: 'fill'
        }]
      },
      onRegionClick: function(event, code, region) { 
        event.preventDefault();
        if(ep_link = ep_countries[code]) { 
          var url = '/' + ep_link + "/";
          window.location = url;
        } 
        return false;
      },
    });
  };
  jQuery(document).ready(draw_map());
</script>

