<div class="hero hero--jazzy text-center homepage-hero">
    <div class="container">
        <h1><%= commify(@person_count) %> politicians from <a href="/countries.html"><%= @countries.length %> countries</a> (so far)</h1>
        <p><label for="country-selector">Find representatives from your country:</label></p>
        <%= erb :country_selector %>
    </div>
    <div class="homepage-map"></div>
</div>

<div class="page-section page-section--grey">
    <div class="container homepage-data-example">
        <h2>The world’s richest political dataset</h2>

        <p class="homepage-data-example__toggles">
            <span class="section-toggle section-toggle--selected" data-section-toggle="social">Social media profiles</span>
            <span class="section-toggle" data-section-toggle="bio">Biographical data</span>
            <span class="section-toggle" data-section-toggle="contacts">Contact details</span>
            <span class="section-toggle" data-section-toggle="identifiers">Identifiers</span>
        </p>

        <div class="grid-list" data-active-section="social">
          <% @people.each do |person| %>
            <div class="js-filter-target">
              <%= erb :person_card, locals: { person: person } %>
            </div>
          <% end %>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container row">
        <div class="column-two-thirds">
            <h3>What is EveryPolitician?</h3>
            <p>Data about every national legislature in the world, freely available for you to use:</p>
            <a href="http://docs.everypolitician.org/" class="button button--small">Read more…</a>
        </div>
        <div class="column-one-third">
            <h3>Contribute data</h3>
            <p>Missing data for your country? Here's how to get that changed:</p>
            <a href="http://docs.everypolitician.org/contribute.html" class="button button--small button--secondary">Read more…</a>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function(){
  var countryCodes = {}
  <% @countries.each do |country| %>
    countryCodes['<%= country[:code].upcase %>'] = 'rgba(255,255,255,0.5)'
  <% end %>

  $('.homepage-map').vectorMap({
    map: 'world_mill_en',
    backgroundColor: 'transparent',
    zoomOnScroll: false,
    zoomButtons: false,
    panOnDrag: false,
    regionStyle: {
      initial: {
        "fill": "rgba(255,255,255,0.3)",
        "fill-opacity": 1,
      },
      hover: {
        "fill-opacity": 1,
        "cursor": "default"
      }
    },
    hoverColor: false,
    zoomMin: 4,
    series: {
      regions: [{
        values: countryCodes,
        attribute: 'fill'
      }]
    },
    onRegionTipShow: function(e, $label, regionCode){
      e.preventDefault();
    }
  });
});
</script>
