<div class="page-section" id="term">
  <div class="container text-center">
    <h1><span class="avatar"><i class="fa fa-university"></i></span> <%= @page.house.name %></h1>
    <p class="seatcount">Loading seat count…</p>
  </div>

  <div class="container">
    <h2>With</h2>
      <ol>
        <% @page.people_with_wikidata.each do |p| %>
          <li><%= p.name %> <%= wikidata_link(p) %></li>
        <% end %>
      </ol>
    <h2>Without</h2>
      <ol>
        <% @page.people_without_wikidata.each do |p| %>
          <li><%= p.name %></li>
        <% end %>
      </ol>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var wikidata_id = '<%= @page.wikidata_id %>';
    var wikidata_api_url = `https://www.wikidata.org/wiki/Special:EntityData/${wikidata_id}.json`;

    $.get(wikidata_api_url).done(function(data) {
      var wikidata_item = data.entities[ Object.keys(data.entities)[0] ];
      // FIXME: Doesn't work if there's no seat count
      var seat_count = Number(wikidata_item.claims.P1342[0].mainsnak.datavalue.value.amount);

      $('p.seatcount').html(`<span class="seatcount">${seat_count}</span> seats`);
      // TODO: Add this if there's no seat count
      // TODO: Link to Wikidata item
      // Number of seats <span class="seatcount">unknown</span> in Wikidata item
    });
  });
</script>
