<div class="page-section" id="term">
  <div class="container text-center">
    <h1><span class="avatar"><i class="fa fa-university"></i></span> <%= @page.house.name %></h1>
    <p class="seatcount">Loading seat count…</p>
  </div>

  <div class="container">
    <h2>With</h2>
      <ol>
        <% @page.people_with_wikidata.each do |p| %>
          <li><%= p.name %> <%= wikidata_link(p) %></li>
        <% end %>
      </ol>
    <h2>Without</h2>
      <ol>
        <% @page.people_without_wikidata.each do |p| %>
          <li><%= p.name %></li>
        <% end %>
      </ol>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var wikidata_id = '<%= @page.wikidata_id %>',
        endpointUrl = 'https://query.wikidata.org/sparql',
        sparqlQuery = "SELECT ?seat_count\n" +
                      "WHERE { wd:" + wikidata_id + " wdt:P1342 ?seat_count }",
        settings = {
          headers: { Accept: 'application/sparql-results+json' },
          data: { query: sparqlQuery }
        };

    $.ajax(endpointUrl, settings).done(function(data) {
      if (data.results.bindings[0]) {
        var seat_count = data.results.bindings[0][data.head.vars[0]].value;

        $('p.seatcount').html('<span class="seatcount">' + seat_count + '</span> seats');
      } else {
        // TODO: Link to Wikidata item
        $('p.seatcount').html('Number of seats <span class="seatcount">unknown</span> in Wikidata item');
      };
    });
  });
</script>
