<div class="container" id="home">
  <div class="page-section">
    <h3>We’re cataloguing every politician in <%= @country[:name] %>.</h3>
    <p>We currently have information for:</p>

    <ul class="grid-list">
      <% @country[:legislative_periods].each do |t| %>
        <li>
          <a class="avatar-unit" href="<%= term_table_url(t) %>">
            <span class="avatar"><i class="fa fa-university"></i></span>
            <h3><%= t[:name] %></h3>
            <% unless t[:start_date].to_s.empty? and t[:end_date].to_s.empty? %>
              <p><%= t[:start_date] %> - <%= t[:end_date] %></p>
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>

  </div>
</div>
