<% @country    = @page.country if (@page and @page.respond_to? :country) %>
<% @house      = @page.house   if (@page and @page.respond_to? :house) %>

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <%= @head_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/javascript/jquery-ui-1.11.4.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/javascript/jquery-jvectormap/jquery-jvectormap-2.0.2.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/javascript/modernizr.js"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/javascript/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="/javascript/ep-card-filter.js"></script>
    <script src="/javascript/jquery.select-to-autocomplete.js"></script>
    <script src="/javascript/jquery-jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/javascript/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/javascript/Chart.min.js"></script>
    <script src="/javascript/blazy.min.js"></script>
    <script src="/javascript/main.js"></script>
    <meta property="og:title" content="<%= @page.title rescue "EveryPolitician" %>" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://everypolitician.org/images/avatar.png" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:width" content="300" />
    <meta property="og:site_name" content="EveryPolitician" />
    <meta property="og:description" content="Data about every national legislature in the world, freely available for you to use.">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@everypolitbot" />
    <meta name="twitter:title" content="<%= @page.title rescue "EveryPolitician" %>" />
    <meta property="twitter:image" content="http://everypolitician.org/images/avatar.png" />
    <meta property="twitter:image:height" content="400" />
    <meta property="twitter:image:width" content="400" />
    <meta name="twitter:description" content="Data about every national legislature in the world, freely available for you to use."  />
    <title><%= @page.title rescue "EveryPolitician" %></title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-660910-34', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="wrapper">

        <header class="site-header">
            <div class="container">
                <div class="site-header__logo">
                    <h2>
                      <% if @country %>
                        <a href="/<%= @country.slug.downcase %>/"><%= @country.name %></a>
                      <% else %>
                        <a href="/"><span class="header-logo">EveryPolitician</span></a>
                      <% end %>
                    </h2>
                    <% if @house %><h3><%= @house.name %></h3><% end %>
                </div>
                <div class="site-header__navigation site-header__navigation--primary">
                    <nav role="navigation">
                      <% if @country %>
                        <a href="/"><span class="nav-logo">EveryPolitician</span></a>
                      <% end %>
                    </nav>
                </div>
                <div class="site-header__navigation site-header__navigation--secondary">
                    <nav role="navigation">
                        <a href="/countries.html">Data</a>
                        <a href="http://docs.everypolitician.org/">Documentation</a>
                    </nav>
                </div>
            </div>
        </header>

        <div class="site-content">
            <%= yield %>
        </div>

        <div class="mysoc-footer" role="contentinfo">
    <div class="container">
        <div class="row">

            <div class="column-five-twelfths">
                <h2 class="mysoc-footer__site-name">EveryPolitician</h2>
                <div class="mysoc-footer__site-description">
                    <p>A simple but ambitious project to collect and share data about every politician in every country in the world, in a consistent, open format that anyone can use.</p>
                </div>
            </div>

            <div class="column-one-third">
                <nav class="mysoc-footer__links">
                    <ul>
                        <li role="presentation"><a href="http://everypolitician.org/">Home</a></li>
                        <li role="presentation"><a href="http://everypolitician.org/countries">Data</a></li>
                        <li role="presentation"><a href="http://docs.everypolitician.org/">About</a></li>
                    </ul>
                    <ul>
                        <li role="presentation"><a href="http://docs.everypolitician.org/contribute.html">Contribute data</a></li>
                        <li role="presentation"><a href="http://docs.everypolitician.org/use_the_data.html">For developers</a></li>
                        <li role="presentation"><a href="http://docs.everypolitician.org/bot.html">Bot &amp; blog</a></li>
                    </ul>
                </nav>
            </div>

            <div class="column-one-quarter">
                <div class="mysoc-footer__donate">
                    <p>Your donations keep this site and others like it running</p>
                    <a href="https://www.mysociety.org/donate?utm_source=everypolitician.org&utm_content=footer+donate+now&utm_medium=link&utm_campaign=mysoc_footer" class="mysoc-footer__donate__button">Donate now</a>
                </div>
            </div>

        </div>
        <hr class="mysoc-footer__divider" role="presentation">
        <div class="row">

            <div class="column-five-twelfths">
                <div class="mysoc-footer__orgs">
                    <p class="mysoc-footer__org">
                        Built by
                        <a href="https://www.mysociety.org?utm_source=everypolitician.org&utm_content=footer+logo&utm_medium=link&utm_campaign=mysoc_footer" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">mySociety</a>
                    </p>
                </div>
            </div>

            <div class="column-one-third">
                <div class="mysoc-footer__legal">
                    <p>mySociety Limited is a project of UK Citizens Online Democracy, a registered charity in England and Wales. For full details visit <a href="https://www.mysociety.org?utm_source=everypolitician.org&utm_content=footer+full+logo+details&utm_medium=link&utm_campaign=mysoc_footer">mysociety.org</a>.</p>
                </div>
            </div>

            <div class="column-one-quarter">
                <ul class="mysoc-footer__badges">
                    <li role="presentation"><a href="https://github.com/everypolitician" class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
                    <li role="presentation"><a href="https://twitter.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--twitter">Twitter</a></li>
                    <li role="presentation"><a href="https://www.facebook.com/mySociety" class="mysoc-footer__badge mysoc-footer__badge--facebook">Facebook</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

    </div>
  </body>
</html>
