:plain
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset='utf-8'>
      <meta http-equiv="X-UA-Compatible" content="chrome=1">
      <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="#{ url('styles.css') }" media="screen" />
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script src="/javascript/issue.js"></script>
      <title>PopIt Viewer</title>
    </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="page-header">
          <div class="logo pull-left">
            <a class="navbar-brand" href="/">#{ (@country || "PopIt").capitalize } Viewer</a>
          </div>
          <div class="left pull-left">
            <ul class="navbar-nav nav">

- if @country
  :plain
              <li><a href="/#{ @country }/terms.html">Terms</a></li>
              <li><a href="/#{ @country }/parties.html">Parties</a></li>
              <li><a href="/#{ @country }/people.html">People</a></li>

:plain
            </ul>
          </div>
          <div class="pull-right">
            <ul class="navbar-nav nav">
              <li><a href="/about.html">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <section class="content">
        <section class="container">

=yield

:plain
        </section>
      </section>
    </body>
  </html>

