<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/javascript/jquery-ui-1.11.4.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/javascript/jquery-jvectormap/jquery-jvectormap-2.0.2.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/javascript/modernizr.js"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/javascript/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="/javascript/ep-card-filter.js"></script>
    <script src="/javascript/jquery.select-to-autocomplete.js"></script>
    <script src="/javascript/jquery-jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/javascript/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/javascript/Chart.min.js"></script>
    <script src="/javascript/blazy.min.js"></script>
    <script src="/javascript/main.js"></script>
    <meta property="og:title" content="<%= @page_title ||= "EveryPolitician" %>" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://everypolitician.org/images/avatar.png" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:width" content="300" />
    <meta property="og:site_name" content="EveryPolitician" />
    <meta property="og:description" content="Data about every national legislature in the world, freely available for you to use.">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@mysocietyIntl" />
    <meta name="twitter:title" content="<%= @page_title ||= "EveryPolitician" %>" />
    <meta property="twitter:image" content="http://everypolitician.org/images/avatar.png" />
    <meta property="twitter:image:height" content="400" />
    <meta property="twitter:image:width" content="400" />
    <meta name="twitter:description" content="Data about every national legislature in the world, freely available for you to use."  />
    <title><%= @page_title ||= "EveryPolitician" %></title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-660910-34', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="wrapper">

        <header class="site-header">
            <div class="container">
                <div class="site-header__logo">
                    <h2>
                      <% if @country %>
                        <a href="/<%= @country[:url] %>/"><%= @country[:name] %></a>
                      <% else %>
                        <a href="/"><span class="header-logo">EveryPolitician</span></a>
                      <% end %>
                    </h2>
                </div>
                <div class="site-header__navigation site-header__navigation--primary">
                    <nav role="navigation">
                      <% if @country %>
                        <a href="/"><span class="nav-logo">EveryPolitician</span></a>
                      <% end %>
                    </nav>
                </div>
                <div class="site-header__navigation site-header__navigation--secondary">
                    <nav role="navigation">
                        <a href="/countries.html">Data</a>
                        <a href="http://docs.everypolitician.org/">Documentation</a>
                    </nav>
                </div>
            </div>
        </header>

        <div class="site-content">
            <%= yield %>
        </div>

        <footer class="site-footer ms-footer">
            <div class="container">
                <div class="column-five-twelfths">
                    <div class="footer__about">
                        <h2 class="ms-footer__logo"><a href="http://www.mysociety.org">mySociety</a></h2>
                        <p>EveryPolitician is another democracy-boosting project from mySociety and Poplus.</p>
                        <p>You might also enjoy <a href="http://mapit.poplus.org/">MapIt</a>, for matching geographic points to administrative areas, and <a href="http://sayit.poplus.org/">SayIt</a>, a beautiful interface for organising, reading, and searching speeches and debates.</p>
                    </div>
                </div>
                <div class="column-seven-twelfths">
                </div>
            </div>
        </footer>

    </div>
  </body>
</html>

