<div class="page-section" id="home">

    <div class="container">

        <h2>Source Needed</h2>
        <p>
          For the countries below, we don't know where to find comprehensive data
          about their politicians. But <em>you</em> might, especially if you live
          there. If you can suggest a source &mdash; please tell us! It might be
          a list of politicians on the official parliament's website, or webpages
          on a wholly separate site or project. Ideally, we like party
          memberships, email addresses, dates of birth, <a
          href="http://docs.everypolitician.org/data_structure.html">and other things</a>... but the bottom line
          is: if it's a list of <em>all</em> the politicians in the legislature,
          we're interested, even if that's only their names. You can email us at
          <a href="mailto:team@everypolitician.org">team@everypolitician.org</a>
          or, if you're on GitHub, suggest the source in a comment on the linked
          GitHub ticket.
        </p>
        <p>
        And although we do want current data, if you can point us at historic
        data (that is, previous legislatures' members), we'd love to have that
        too.
        </p>

        <div class="container">
            <ul class="grid-list grid-list--vertically-center source-needed">
              <% @to_find.sort_by { |i| i[:title] }.each do |i| %>
                <li>
                    <a class="avatar-unit" href="<%= i[:html_url] %>/">
                        <span class="avatar"><i class="fa fa-users"></i></span>
                        <h3><%= i[:title] %></h3>
                    </a>
                </li>
              <% end %>
            </ul>
        </div>

        <h2>Scraper Needed</h2>

        <p>For the following countries we already know at least one plausible
        source of data (see the linked Github ticket for more information).
        If you'd like to help write a scraper for any of these, please read
        our <a href="http://docs.everypolitician.org/scrapers.html">guide to writing an EveryPolitician
        Scraper</a> — and don't forget to leave a note on the ticket so
        that no-one else duplicates your efforts.</p>

        <div class="container">
            <ul class="grid-list grid-list--vertically-center scraper-needed">
              <% @to_scrape.sort_by { |i| i[:title] }.each do |i| %>
                <li>
                    <a class="avatar-unit" href="<%= i[:html_url] %>/">
                        <span class="avatar"><i class="fa fa-users"></i></span>
                        <h3><%= i[:title] %></h3>
                    </a>
                </li>
              <% end %>
            </ul>
        </div>

        <h2>In Progress</h2>

        <div class="container">
            <ul class="grid-list grid-list--vertically-center scraper-progress">
              <% @to_finish.sort_by { |i| i[:title] }.each do |i| %>
                <li>
                    <a class="avatar-unit" href="<%= i[:html_url] %>/">
                        <span class="avatar"><i class="fa fa-users"></i></span>
                        <h3><%= i[:title] %></h3>
                    </a>
                </li>
              <% end %>
            </ul>
        </div>

    </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {

    var make_node = function(text, url) {
      var n = $(".grid-list li:first").clone();
      n.find('a').attr('href', url).find('h3').text(text);
      return n;
    };

    var by_country = function(a, b) {
      return ((a.title < b.title) ? -1 : ((a.title > b.title) ? 1 : 0));
    };

    var to_find_url = 'https://api.github.com/repos/everypolitician/everypolitician-data/issues?labels=new%20country,to%20find;per_page=100'
    $.get(to_find_url).done(function(data) {
      var new_nodes = $.map(data.sort(by_country), function(issue, n) {
        return make_node(issue.title, issue.html_url);
      });
      $(".source-needed").html(new_nodes);
    });

    var to_scrape_url = 'https://api.github.com/repos/everypolitician/everypolitician-data/issues?labels=new%20country,to%20scrape;per_page=100'
    $.get(to_scrape_url).done(function(data) {
      var new_nodes = $.map(data.sort(by_country), function(issue, n) {
        return make_node(issue.title, issue.html_url);
      });
      $(".scraper-needed").html(new_nodes);
    });

    var to_scrape_url = 'https://api.github.com/repos/everypolitician/everypolitician-data/issues?labels=new%20country,3%20-%20WIP;per_page=100'
    $.get(to_scrape_url).done(function(data) {
      var new_nodes = $.map(data.sort(by_country), function(issue, n) {
        return make_node(issue.title, issue.html_url);
      });
      $(".scraper-progress").html(new_nodes);
    });

  });
</script>

