
#person
  %h1= @person['name']
  %p
    - if @person['image']
      %img{align: 'right', src: @person['image']}

    %ul
      - @memberships.sort_by { |m| m['start_date'] }.reverse.each do |m|
        %li <a href="#{ party_url(m['on_behalf_of']) }">#{m['on_behalf_of']['name']}</a> (#{m['start_date']}–#{m['end_date']})


