<div class="page-section" id="term">
    <div class="container text-center">
        <h1><span class="avatar"><i class="fa fa-university"></i></span> <%= @term[:name] %></h1>
      <% unless @term[:start_date].to_s.empty? and @term[:end_date].to_s.empty? %>
        <p><%= @term[:start_date] %> – <%= @term[:end_date] or 'current' %></p>
      <% end %>
    </div>
</div>

<% if @prev_term or @next_term %>
    <div class="page-section page-section--no-padding page-section--border-top">
        <div class="container">
            <div class="term-navigation">
              <% if @prev_term %>
                <a href="<%= term_table_url(@country, @house, @prev_term) %>" class="term-navigation__prev">
                    <i class="fa fa-arrow-left"></i>
                    <%= @prev_term[:name] %>
                </a>
              <% end %>

              <span class="term-navigation__jump">Jump to:
                  <select class="js-navigation-menu">
                    <% @terms.each do |t| %>
                      <option value="<%= term_table_url(@country, @house, t) %>" <% if t[:name] == @term[:name] %>selected<% end %>>
                        <%= t[:name] %>
                        <% unless t[:start_date].to_s.empty? and t[:end_date].to_s.empty? %>
                          (<%= t[:start_date] %>–<%= t[:end_date] or 'current' %>)
                        <% end %>
                      </option>
                    <% end %>
                  </select>
              </span>

              <% if @next_term %>
                <a href="<%= term_table_url(@country, @house, @next_term) %>" class="term-navigation__next">
                    <%= @next_term[:name] %>
                    <i class="fa fa-arrow-right"></i>
                </a>
              <% end %>
            </div>
        </div>
    </div>
<% end %>

    <div class="page-section page-section--grey" id="seat-count">
        <div class="container">
            <div class="party-groupings__title">
                <h2>Party Groupings</h2>
            </div>
            <ul class="grid-list grid-list--vertically-center">
              <% @csv.find_all { |r| r[:end_date].to_s.empty? || r[:end_date] == @term[:end_date] }.group_by { |r| r[:group] }.sort_by { |p, ms| [-ms.count, p] }.each do |party, mems| %>
                <li id="party-<%= mems.first[:group_id] %>"><div class="avatar-unit">
                    <span class="avatar"><i class="fa fa-users"></i></span>
                    <h3><%= party.to_s.empty? ? 'Independent' : party %></h3>
                    <p><span class="seatcount"><%= mems.count %></span> seat<% if mems.count > 1 %>s<% end %></p>
                </div></li>
              <% end %>
            </ul>
        </div>
    </div>

    <div class="page-section page-section--green">
        <div class="container">
            <h2 class="text-center">What’s in this dataset?</h2>
        </div>
        <div class="data-completeness-wrapper">
            <div class="container">
                <div class="grid-list grid-list--vertically-center grid-list--narrow-columns">
                    <div class="data-completeness">
                        <span class="data-completeness__label">Name</span>
                        <span class="data-completeness__percentage">100%</span>
                    </div>
                    <div class="data-completeness">
                        <span class="data-completeness__label">Area</span>
                        <span class="data-completeness__percentage">100%</span>
                    </div>
                    <div class="data-completeness">
                        <span class="data-completeness__label">Email</span>
                        <span class="data-completeness__percentage">99.7%</span>
                    </div>
                    <div class="data-completeness">
                        <span class="data-completeness__label">Photo</span>
                        <span class="data-completeness__percentage">98%</span>
                    </div>
                    <div class="data-completeness">
                        <span class="data-completeness__label">Gender</span>
                        <span class="data-completeness__percentage">81%</span>
                    </div>
                    <div class="data-completeness">
                        <span class="data-completeness__label">Twitter</span>
                        <span class="data-completeness__percentage">69.7%</span>
                    </div>
                    <div class="data-completeness">
                        <span class="data-completeness__label">Facebook</span>
                        <span class="data-completeness__percentage">36%</span>
                    </div>
                    <div class="data-completeness">
                        <span class="data-completeness__label">Parliament ID</span>
                        <span class="data-completeness__percentage">0%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="text-center">
                Know where we can find more information?
                <a href="#" class="button button--primary button--small" style="margin-left: 1em">Let us know</a>
            </p>
        </div>
    </div>

    <div class="page-section page-section--grey">
        <div class="container">

            <% show_dates = @csv.any? { |m| !m[:start_date].to_s.empty? || !m[:end_date].to_s.empty? } %>

            <div class="term-membership-table__title">
                <h2>Members</h2>
                <a class="button button--download" href="<%= @urls[:csv] %>">
                    <i class="fa fa-download"></i>
                    <span class="large-screen-only">Download as</span> CSV
                </a>
                <span class="person-card-filter">
                    <label for="filter-input" class="fa fa-search"></label>
                    <input type="text" class="js-filter-input" id="filter-input" placeholder="Filter list…">
                </span>
            </div>

            <div class="grid-list">

              <% @csv.group_by { |m| m[:id] }.sort_by { |id, mems| mems.first[:sort_name] }.each do |id, mems| %>
                <div class="js-filter-target">
                    <div class="person-card">

                        <div class="person-card__primary">
                          <% if mems[0][:image] %>
                            <img class="person-card__image" src="<%= mems[0][:proxy_image] %>">
                          <% end %>
                            <h3 class="person-card__name"><%= mems[0][:name] %></h3>
                            <p class="person-card__politics">
                                <%= mems[0][:group].to_s.empty? ? 'Independent' : mems[0][:group] %>
                                <% if mems[0][:area] %>– <%= mems[0][:area] %><% end %>
                            </p>
                        </div>

                      <% if mems[0][:gender] || mems[0][:twitter] || mems[0][:facebook] || mems[0][:email] %>
                        <div class="person-card__more">
                          <% if mems[0][:twitter] %>
                            <p>
                                <span class="person-card__more__label">Twitter</span>
                                <a href="https://twitter.com/<%= mems[0][:twitter] %>">@<%= mems[0][:twitter] %></a>
                            </p>
                          <% end %>
                          <% if mems[0][:facebook] %>
                            <p>
                                <span class="person-card__more__label">Facebook</span>
                                <a href="<%= mems[0][:facebook] %>"><%= mems[0][:facebook].gsub('https://www.facebook.com', '') %></a>
                            </p>
                          <% end %>
                          <% if mems[0][:email] %>
                            <p>
                                <span class="person-card__more__label">Email</span>
                                <a href="mailto:<%= mems[0][:email] %>"><%= mems[0][:email] %></a>
                            </p>
                          <% end %>
                          <% if mems[0][:gender] %>
                            <p>
                                <span class="person-card__more__label">Gender</span>
                                <span class="gender"><%= mems[0][:gender] %></span>
                            </p>
                          <% end %>
                        </div>
                      <% end %>

                    </div>
                </div>
              <% end %>

            </div>

        </div>
    </div>

      <div class="page-section page-section--grey source-credits">
        <div class="container">
          <% if @data_sources %>
            <p>Main Source<% if @data_sources.size > 1 %>s<% end %>: <%= @data_sources.map { |url| %Q(<a href="#{url}">#{url}</a>) }.join(", ") %></p>
          <% end %>
          <p><b>Anything wrong?</b> If you've spotted an error, or the data is incomplete,
            here's <a href="http://docs.everypolitician.org/contribute.html">how to get that fixed</a>.</p>
        </div>
      </div>

