<div class="page-section" id="term">
    <div class="container">
        <h1 class="text-center"><span class="avatar"><i class="fa fa-university"></i></span> <%= @term[:name] %></h1>
      <% unless @term[:start_date].to_s.empty? and @term[:end_date].to_s.empty? %>
        <p class="text-center"><%= @term[:start_date] %> – <%= @term[:end_date] or 'current' %></p>
      <% end %>
    </div>
</div>

<% if @prev_term or @next_term %>
    <div class="page-section page-section--no-padding page-section--border-top">
        <div class="container">
            <div class="term-navigation">
              <% if @prev_term %>
                <a href="<%= term_table_url(@country, @house, @prev_term) %>" class="term-navigation__prev">
                    <i class="fa fa-arrow-left"></i>
                    <%= @prev_term[:name] %>
                </a>
              <% end %>

              <span class="term-navigation__jump">Jump to:
                  <select class="js-navigation-menu">
                    <% @terms.each do |t| %>
                      <option value="<%= term_table_url(@country, @house, t) %>" <% if t[:name] == @term[:name] %>selected<% end %>>
                        <%= t[:name] %>
                        <% unless t[:start_date].to_s.empty? and t[:end_date].to_s.empty? %>
                          (<%= t[:start_date] %>–<%= t[:end_date] or 'current' %>)
                        <% end %>
                      </option>
                    <% end %>
                  </select>
              </span>

              <% if @next_term %>
                <a href="<%= term_table_url(@country, @house, @next_term) %>" class="term-navigation__next">
                    <%= @next_term[:name] %>
                    <i class="fa fa-arrow-right"></i>
                </a>
              <% end %>
            </div>
        </div>
    </div>
<% end %>

    <div class="page-section page-section--grey" id="seat-count">
        <div class="container">
            <h2 class="text-center">Party Groupings</h2>
            <ul class="grid-list">
              <% @csv.find_all { |r| r[:end_date].to_s.empty? || r[:end_date] == @term[:end_date] }.group_by { |r| r[:group] }.sort_by { |p, ms| [-ms.count, p] }.each do |party, mems| %>
                <li><div class="avatar-unit">
                    <span class="avatar"><i class="fa fa-users"></i></span>
                    <h3><%= party.to_s.empty? ? 'Independent' : party %></h3>
                    <p><%= mems.count %> seat<% if mems.count > 1 %>s<% end %></p>
                </div></li>
              <% end %>
            </ul>
        </div>
    </div>

    <div class="page-section page-section">
        <div class="container">
            <h2 class="text-center">Members</h2>

            <table class="term-membership-table js-sortable">
                <thead class="js-fixed-thead">
                    <tr>
                        <td colspan="4" class="text-center">
                            <div class="table-action-buttons">
                              <a class="button button--download" href="<%= @urls[:csv] %>">
                                <i class="fa fa-download"></i>
                                <span class="large-screen-only">CSV</span>
                              </a>
                              <a class="button button--download" href="<%= @urls[:json] %>">
                                <i class="fa fa-download"></i>
                                <span class="large-screen-only">JSON</span>
                              </a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Area</th>
                        <% show_dates = @csv.any? { |m| !m[:start_date].to_s.empty? || !m[:end_date].to_s.empty? } %>
                        <% if show_dates %><th>Dates</th><% end %>
                    </tr>
                </thead>

              <% @csv.group_by { |m| m[:id] }.sort_by { |id, mems| mems.first[:name] }.each do |id, mems| %>
                  <%# Each person can have multiple party affiliations in a single term, so we
                      loop through them and set the first cell (their name) to span all the rows %>
                  <% mems.each_with_index do |m, i| %>
                    <tr id="mem-<%= id.to_s.split('/').last %>">
                      <% if i == 0 %>
                        <td rowspan="<%= mems.count %>"><%= m[:name] %></td>
                      <% end %>
                        <td><%= m[:group].to_s.empty? ? 'Independent' : m[:group] %></td>
                        <td><%= m[:area] %></td>
                      <% if show_dates %>
                        <td><% unless m[:start_date].to_s.empty? and m[:end_date].to_s.empty? %><%= m[:start_date] %>–<%= m[:end_date] %><% end %></td>
                      <% end %>
                    </tr>
                  <% end %>
              <% end %>
            </table>
        </div>
    </div>

    <% if @data_source %>
      <div class="page-section page-section--grey source-credits">
        <div class="container">
          <p>Source: <a href="<%= @data_source %>"><%= @data_source %></a></p>
        </div>
      </div>
    <% end %>

