<div class="page-section" id="term">
    <div class="container text-center">
        <h1><span class="avatar"><i class="fa fa-university"></i></span> <%= @term[:name] %></h1>
      <% unless @term[:start_date].to_s.empty? and @term[:end_date].to_s.empty? %>
        <p><%= @term[:start_date] %> – <%= @term[:end_date] or 'current' %></p>
      <% end %>
    </div>
</div>

<% if @prev_term or @next_term %>
    <div class="page-section page-section--no-padding page-section--border-top">
        <div class="container">
            <div class="term-navigation">
              <% if @prev_term %>
                <a href="<%= term_table_url(@country, @house, @prev_term) %>" class="term-navigation__prev">
                    <i class="fa fa-arrow-left"></i>
                    <%= @prev_term[:name] %>
                </a>
              <% end %>

              <span class="term-navigation__jump">Jump to:
                  <select class="js-navigation-menu">
                    <% @terms.each do |t| %>
                      <option value="<%= term_table_url(@country, @house, t) %>" <% if t[:name] == @term[:name] %>selected<% end %>>
                        <%= t[:name] %>
                        <% unless t[:start_date].to_s.empty? and t[:end_date].to_s.empty? %>
                          (<%= t[:start_date] %>–<%= t[:end_date] or 'current' %>)
                        <% end %>
                      </option>
                    <% end %>
                  </select>
              </span>

              <% if @next_term %>
                <a href="<%= term_table_url(@country, @house, @next_term) %>" class="term-navigation__next">
                    <%= @next_term[:name] %>
                    <i class="fa fa-arrow-right"></i>
                </a>
              <% end %>
            </div>
        </div>
    </div>
<% end %>

    <div class="page-section page-section--grey" id="seat-count">
        <div class="container">
            <div class="party-groupings__title">
                <h2>Party Groupings</h2>
            </div>
            <ul class="grid-list">
              <% @csv.find_all { |r| r[:end_date].to_s.empty? || r[:end_date] == @term[:end_date] }.group_by { |r| r[:group] }.sort_by { |p, ms| [-ms.count, p] }.each do |party, mems| %>
                <li id="party-<%= mems.first[:group_id] %>"><div class="avatar-unit">
                    <span class="avatar"><i class="fa fa-users"></i></span>
                    <h3><%= party.to_s.empty? ? 'Independent' : party %></h3>
                    <p><span class="seatcount"><%= mems.count %></span> seat<% if mems.count > 1 %>s<% end %></p>
                </div></li>
              <% end %>
            </ul>
        </div>
    </div>

    <div class="page-section page-section">
        <div class="container">

            <table class="term-membership-table js-sortable">
                <thead class="js-fixed-thead">
                    <tr>
                        <td colspan="4">
                            <div class="term-membership-table__title">

                                <div class="download-options">
                                    <label class="houdini-label button button--tertiary" for="download-options">Download</label>
                                    <input class="houdini-input" type="checkbox" id="download-options">
                                    <div class="houdini-target download-options__dropdown">
                                        <a href="<%= @urls[:csv] %>">
                                            <h3>Download as CSV</h3>
                                            <p>Core data on these politicians, perfect for quick analysis</p>
                                        </a>
                                        <a href="<%= @urls[:json] %>">
                                            <h3>Download as JSON</h3>
                                            <p>All the data we hold on this legislature (including historic)</p>
                                        </a>
                                    </div>
                                </div>

                                <h2>Members</h2>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th data-sortable-presorted="a-z">Name</th>
                        <th>Group</th>
                        <th>Area</th>
                        <% show_dates = @csv.any? { |m| !m[:start_date].to_s.empty? || !m[:end_date].to_s.empty? } %>
                        <% if show_dates %><th>Dates</th><% end %>
                    </tr>
                </thead>

              <% @csv.group_by { |m| m[:id] }.sort_by { |id, mems| mems.first[:sort_name] }.each do |id, mems| %>
                  <%# Each person can have multiple party affiliations in a single term, so we
                      loop through them and set the first cell (their name) to span all the rows %>
                  <% mems.each_with_index do |m, i| %>
                    <tr id="mem-<%= id.to_s.split('/').last %>">
                      <% if i == 0 %>
                        <td rowspan="<%= mems.count %>" data-sortable-sortvalue="<%= m[:sort_name] or m[:name] %>"><%= m[:name] %></td>
                      <% end %>
                        <td><%= m[:group].to_s.empty? ? 'Independent' : m[:group] %></td>
                        <td><%= m[:area] %></td>
                      <% if show_dates %>
                        <% start_date = (m[:start_date].to_s.empty? or m[:start_date].to_s == @term[:start_date].to_s) ? '' : m[:start_date].to_s %>
                        <% end_date   = (m[:end_date].to_s.empty? or m[:end_date].to_s == @term[:end_date].to_s) ? '' : m[:end_date].to_s %>
                        <td><%= start_date %><% unless start_date.empty? and end_date.empty? %>-<% end %><%= end_date %></td>
                      <% end %>
                    </tr>
                  <% end %>
              <% end %>
            </table>
        </div>
    </div>

      <div class="page-section page-section--grey source-credits">
        <div class="container">
          <% if @data_sources %>
            <p>Main Source<% if @data_sources.size > 1 %>s<% end %>: <%= @data_sources.map { |url| %Q(<a href="#{url}">#{url}</a>) }.join(", ") %></p>
          <% end %>
          <p><b>Anything wrong?</b> If you've spotted an error, or the data is incomplete,
            here's <a href="http://docs.everypolitician.org/contribute.html">how to get that fixed</a>.</p>
        </div>
      </div>

