<div class="page-section" id="term">
    <div class="container text-center">
        <h1><span class="avatar"><i class="fa fa-university"></i></span> <%= @term[:name] %></h1>
      <% unless @term[:start_date].to_s.empty? and @term[:end_date].to_s.empty? %>
        <p><%= @term[:start_date] %> – <%= @term[:end_date] or 'current' %></p>
      <% end %>
    </div>
</div>

<% if @prev_term or @next_term %>
    <div class="page-section page-section--no-padding page-section--border-top">
        <div class="container">
            <div class="term-navigation">
              <% if @prev_term %>
                <a href="<%= term_table_url(@country, @house, @prev_term) %>" class="term-navigation__prev">
                    <i class="fa fa-arrow-left"></i>
                    Earlier
                </a>
              <% end %>

              <span class="term-navigation__jump">Jump to:
                  <select class="js-navigation-menu">
                    <% @terms.each do |t| %>
                      <option value="<%= term_table_url(@country, @house, t) %>" <% if t[:name] == @term[:name] %>selected<% end %>>
                        <%= t[:name] %>
                        <% unless t[:start_date].to_s.empty? and t[:end_date].to_s.empty? %>
                          (<%= t[:start_date] %>–<%= t[:end_date] or 'current' %>)
                        <% end %>
                      </option>
                    <% end %>
                  </select>
              </span>

              <% if @next_term %>
                <a href="<%= term_table_url(@country, @house, @next_term) %>" class="term-navigation__next">
                    Later
                    <i class="fa fa-arrow-right"></i>
                </a>
              <% end %>
            </div>
        </div>
    </div>
<% end %>

<% unless @parties.length == 1 && @parties[0][0] == 'unknown' %>
    <div class="page-section page-section--grey" id="seat-count">
        <div class="container">
            <div class="party-groupings__title">
                <h2>Party Groupings</h2>
            </div>
            <ul class="grid-list grid-list--vertically-center">
              <% @parties.each do |party, mems| %>
                <li id="party-<%= mems.first[:group_id] %>"><div class="avatar-unit">
                    <span class="avatar"><i class="fa fa-users"></i></span>
                    <h3><%= party.to_s.empty? ? 'Independent' : party %></h3>
                    <p><span class="seatcount"><%= mems.count %></span> seat<% if mems.count > 1 %>s<% end %></p>
                </div></li>
              <% end %>
            </ul>
        </div>
    </div>
<% end %>

    <div class="page-section page-section--green">
        <div class="container text-center">
            <h2>What’s in this dataset?</h2>
            <p>As much as we know. Click one of the categories to get a taste of the information we have so far.</p>
        </div>
        <div class="data-completeness-wrapper">
            <div class="container">
                <div class="grid-list grid-list--vertically-center grid-list--narrow-columns">
                    <div class="data-completeness">
                        <span class="section-toggle section-toggle--selected" data-section-toggle="bio">
                            <span class="data-completeness__label">Biographical</span>
                            <span class="data-completeness__percentage"><%= @percentages[:bio] %>%</span>
                        </span>
                    </div>
                    <div class="data-completeness">
                        <span class="section-toggle" data-section-toggle="social">
                            <span class="data-completeness__label">Social links</span>
                            <span class="data-completeness__percentage"><%= @percentages[:social] %>%</span>
                        </span>
                    </div>
                    <div class="data-completeness">
                        <span class="section-toggle" data-section-toggle="contacts">
                            <span class="data-completeness__label">Contact details</span>
                            <span class="data-completeness__percentage"><%= @percentages[:contacts] %>%</span>
                        </span>
                    </div>
                    <div class="data-completeness">
                        <span class="section-toggle" data-section-toggle="identifiers">
                            <span class="data-completeness__label">Identifiers</span>
                            <span class="data-completeness__percentage"><%= @percentages[:identifiers] %>%</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <p>
                Know where we can find more information?
                <a href="http://docs.everypolitician.org/contribute.html" class="button button--primary button--small" style="margin-left: 1em">Let us know</a>
            </p>
        </div>
    </div>

    <div class="page-section page-section--grey">
        <div class="container">

            <div class="term-membership-table__title">
                <h2>Members</h2>

                <span class="person-card-filter">
                    <label for="filter-input" class="fa fa-search"></label>
                    <input type="text" class="js-filter-input" id="filter-input" placeholder="Filter list…">
                </span>

                <div class="download-options">
                    <label class="houdini-label button button--tertiary" for="download-options">Download</label>
                    <input class="houdini-input" type="checkbox" id="download-options">
                    <div class="houdini-target download-options__dropdown">
                        <a href="<%= @urls[:csv] %>">
                            <h3>Download as CSV</h3>
                            <p>Core data on these politicians, perfect for quick analysis</p>
                        </a>
                        <a href="<%= @urls[:json] %>">
                            <h3>Download as JSON</h3>
                            <p>All the data we hold on this legislature (including historic)</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="grid-list" data-active-section="bio">

              <% @people.each do |person| %>
                <div class="js-filter-target">
                  <%= erb :person_card, locals: { person: person, country: @country, house: @house } %>
                </div>
              <% end %>

            </div>

        </div>
    </div>

      <div class="page-section page-section--grey source-credits">
        <div class="container">
          <% if @data_sources %>
            <p>Main Source<% if @data_sources.size > 1 %>s<% end %>: <%= @data_sources.map { |url| %Q(<a href="#{url}">#{url}</a>) }.join(", ") %></p>
          <% end %>
          <p><b>Anything wrong?</b> If you've spotted an error, or the data is incomplete,
            here's <a href="http://docs.everypolitician.org/contribute.html">how to get that fixed</a>.</p>
        </div>
      </div>

