<div class="page-section" id="term">
    <div class="container">
        <h1><%= @term['name'] %></h1>
        <p><%= @term['start_date'] %> – <%= @term['end_date'] %></p>

      <% if @memberships %>
        <ul class="avatar-list">
          <% @memberships.sort_by { |m| m['person']['name'] }.each do |m| %>
            <li>
               <a href="<%= person_url(m['person']) %>">
                 <span class="avatar"><i class="fa fa-user"></i></span>
                 <span class="label"><%= m['person']['name'] %></span>
                 (<%= m['start_date'] %>–<%= m['end_date'] %>)
               </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
</div>
