<div class="page-section" id="term">
    <div class="container">
        <h1 class="text-center"><span class="avatar"><i class="fa fa-university"></i></span> <%= @term['name'] %></h1>
      <% unless @term['start_date'].to_s.empty? and @term['end_date'].to_s.empty? %>
        <p class="text-center"><%= @term['start_date'] %> – <%= @term['end_date'] or 'current' %></p>
      <% end %>

      <% if @prev_term or @next_term %>
        <p>
          <% if @prev_term %>
            <a href="<%= term_table_url(@prev_term) %>">
                <i class="fa fa-arrow-left"></i>
                <%= @prev_term['name'] %>
            </a>
          <% end %>

          <% if @next_term %>
            <a href="<%= term_table_url(@next_term) %>" style="float:right">
                <%= @next_term['name'] %>
                <i class="fa fa-arrow-right"></i>
            </a>
          <% end %>
        </p>
      <% end %>
    </div>
</div>

<% if @memberships.count.zero? %>

<% else %>

    <div class="page-section page-section--grey">
        <div class="container">
            <h2 class="text-center">Party Groupings</h2>

            <ul class="grid-list">
              <% @memberships.group_by { |m| m['on_behalf_of'] }.sort_by { |p, ms| ms.count }.reverse.each do |party, mems| %>
                <li><div class="avatar-unit">
                    <span class="avatar"><i class="fa fa-users"></i></span>
                    <h3><%= party['name'].to_s.empty? ? 'Independent' : party['name'] %></h3>
                    <p><%= mems.count %> seat<% if mems.count > 1 %>s<% end %></p>
                </div></li>
              <% end %>
            </ul>
        </div>
    </div>

    <div class="page-section page-section">
        <div class="container">
            <h2 class="text-center">Members</h2>

          <% @memberships.group_by { |m| m['organization'] }.each do |leg, leg_mems| %>
            <table class="term-membership-table <% unless @country[:name] == 'Finland' %>js-sortable<% end %>" id="house-<%= leg['id'].split('/').last %>">
                <thead class="js-fixed-thead">

                    <tr>
                        <td colspan="4" class="text-center">
                            <div class="table-action-buttons">
                              <a class="button button--download" href="<%= @csv_url %>">
                                <i class="fa fa-download"></i>
                                <span class="large-screen-only">CSV</span>
                              </a>
                            </div>
                          <% if @houses.count > 1 %>
                            <div class="button-group">
                              <% @houses.each do |h| %>
                                  <% if h['id'] == leg['id'] %>
                                    <a class="button button--primary" href="#house-<%= h['id'].split('/').last %>"><%= h['name'] %></a>
                                  <% else %>
                                    <a class="button button--quarternary" href="#house-<%= h['id'].split('/').last %>"><%= h['name'] %></a>
                                  <% end %>
                              <% end %>
                            </div>
                          <% end %>
                        </td>
                    </tr>

                    <tr>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Area</th>
                        <% if leg_mems.any? { |m| m['start_date'].to_s != @term['start_date'].to_s or m['end_date'].to_s != @term['end_date'].to_s } %><th>Dates</th><% end %>
                    </tr>
                </thead>

              <% leg_mems.group_by { |m| m['person'] }.sort_by { |p, _| p['name'] }.each do |p, mems| %>
                  <%# Each person can have multiple party affiliations in a single term, so we
                      loop through them and set the first cell (their name) to span all the rows %>
                  <% mems.each_with_index do |m, i| %>
                    <tr id="mem-<%= p['id'].split('/').last %>">
                      <% if i == 0 %>
                        <td rowspan="<%= mems.count %>"><%= p['name'] %></td>
                      <% end %>
                        <td><%= m['on_behalf_of']['name'].to_s.empty? ? 'Independent' : m['on_behalf_of']['name'] %></td>
                        <td><%= m['area'] && m['area']['name'] %></td>
                      <% if leg_mems.any? { |m| m['start_date'].to_s != @term['start_date'].to_s or m['end_date'].to_s != @term['end_date'].to_s }%>  <td>
                          <% if m['start_date'].to_s != @term['start_date'].to_s or m['end_date'].to_s != @term['end_date'].to_s %>
                            <%= m['start_date'] %>–<%= m['end_date'] %>
                          <% end %>
                        </td><% end %>
                    </tr>
                  <% end %>
              <% end %>

            </table>
          <% end %>
        </div>
    </div>

<% end %>
