<div class="page-section" id="term">
    <div class="container">
        <h1 class="text-center"><span class="avatar"><i class="fa fa-university"></i></span> <%= @term['name'] %></h1>
      <% unless @term['start_date'].to_s.empty? and @term['end_date'].to_s.empty? %>
        <p class="text-center"><%= @term['start_date'] %> – <%= @term['end_date'] or 'current' %></p>
      <% end %>

      <% if @prev_term or @next_term %>
        <p>
          <% if @prev_term %>
            <a href="<%= term_table_url(@prev_term) %>">
                <i class="fa fa-arrow-left"></i>
                <%= @prev_term['name'] %>
            </a>
          <% end %>

          <% if @next_term %>
            <a href="<%= term_table_url(@next_term) %>" style="float:right">
                <%= @next_term['name'] %>
                <i class="fa fa-arrow-right"></i>
            </a>
          <% end %>
        </p>
      <% end %>
    </div>
</div>

<% if @memberships.count.zero? %>

<% else %>

    <div class="page-section page-section--grey">
        <div class="container">
            <h2 class="text-center">Party Groupings</h2>

            <ul class="grid-list">
              <% @memberships.group_by { |m| m['on_behalf_of'] }.sort_by { |p, ms| ms.count }.reverse.each do |party, mems| %>
                <li><div class="avatar-unit">
                    <span class="avatar"><i class="fa fa-users"></i></span>
                    <h3><%= party['name'] %></h3>
                    <p><%= mems.count %> seat<% if mems.count > 1 %>s<% end %></p>
                </div></li>
              <% end %>
            </ul>
        </div>
    </div>

    <div class="page-section page-section">
        <div class="container">
            <h2 class="text-center">Members</h3>

          <% @memberships.group_by { |m| m['organization'] }.each do |leg, leg_mems| %>
            <table class="term-membership-table js-sortable" id="house-<%= leg['id'].split('/').last %>">
                <thead class="js-fixed-thead">

                  <% if @memberships.group_by { |m| m['organization'] }.length > 1 %>
                    <tr>
                        <td colspan="4" class="text-center">
                            <div class="button-group">
                              <% @memberships.group_by { |m| m['organization'] }.each do |leg2, leg_mems2| %>
                                  <% if leg2['id'] == leg['id'] %>
                                    <a class="button button--primary" href="#house-<%= leg2['id'].split('/').last %>"><%= leg2['name'] %></a>
                                  <% else %>
                                    <a class="button button--quarternary" href="#house-<%= leg2['id'].split('/').last %>"><%= leg2['name'] %></a>
                                  <% end %>
                              <% end %>
                            </div>
                        </td>
                    </tr>
                  <% end %>

                    <tr>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Area</th>
                        <th>Dates</th>
                    </tr>
                </thead>

              <% leg_mems.group_by { |m| m['person'] }.sort_by { |p, _| p['name'] }.each do |p, mems| %>
                  <%# Each person can have multiple party affiliations in a single term, so we
                      loop through them and set the first cell (their name) to span all the rows %>
                  <% mems.each_with_index do |m, i| %>
                    <tr id="mem-<%= p['id'].split('/').last %>">
                      <% if i == 0 %>
                        <td rowspan="<%= mems.count %>"><%= p['name'] %></td>
                      <% end %>
                        <td><%= m['on_behalf_of']['name'] %></td>
                        <td><%= m['area'] && m['area']['name'] %></td>
                        <td>
                          <% if m['start_date'].to_s != @term['start_date'].to_s or m['end_date'].to_s != @term['end_date'].to_s %>
                            <%= m['start_date'] %>–<%= m['end_date'] or 'current' %>
                          <% end %>
                        </td>
                    </tr>
                  <% end %>
              <% end %>

            </table>
          <% end %>
        </div>
    </div>

<% end %>